
@{
    ViewBag.Title = "Chat";
}

<div id="chat--catch">
</div>
<div class="chat--send">
    <textarea id="message"></textarea>
    <button id="send"></button>
</div>
@Html.Partial("_RoomPartial")
@section scripts{
    @Scripts.Render("~/bundles/ts/chat")
}